.form-create-recipe {
  padding: 15px;
  padding-top: 0;
  display: grid;
  text-align: left;
}
.form-create-recipe input {
  height: 30px;
  color: black;
  background: whitesmoke;
  border: 1px solid black;
}
.form-create-recipe h4 {
  font-weight: lighter;
  margin: 0;
  margin: 10px 0 10px 0px;
}
.form-create-recipe textarea {
  resize: none;
  color: black;
  background: whitesmoke;
  border: 1px solid black;
  height: 200px;
}
.form-create-recipe .btn-post {
  height: 40px;
  margin-top: 15px;
  background: rgb(45, 123, 212);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}
