#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.central-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  border-bottom: 1px solid #b4b4b4;
}
.item-preview .image-preview {
  height: 140px;
  width: 140px;
  margin: 0;
  margin-top: 5px;
  border: 1px solid black;
  padding: 0;
  border-radius: 5px;
  object-fit: cover;
}
.item-preview {
  font-size: 13px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  min-height: 130px;
  text-align: start;
  display: flex;
  background: white;
  border: 0;
  border-top: 1px solid #b4b4b4;
  width: 100%;
  padding-bottom: 20px;
  margin: 0;
}
.item-preview:hover {
  background: whitesmoke;
  color: blue;
}
.item-preview h3 {
  color: rgb(35, 35, 114);
  margin: 0;
  margin-left: 4px;
  margin-top: 4px;
  padding: 0;
  text-overflow: ellipsis;
}
.item-preview p {
  color: gray;
  margin: 0;
  margin-left: 4px;
  margin-top: 4px;
  padding: 0;
}
.item-preview .data {
  padding: 10px;
}

.header-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}
.header-logo .slogan {
  color: gray;
  font-size: 0.8rem;
  font-weight: lighter;
  position: absolute;
  right: 0;
}
.input-search {
  width: 99%;
  background: white;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  height: 100%;
}
.search-container {
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 10fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.btn-searchbar {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background: none;
  color: black;
  border: none;
  margin: none;
  padding: none;
  font-weight: bold;
  text-decoration: none;
}
.btn-searchbar:hover {
  color: blue;
}

.item-preview .data-time {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

@media (max-width: 500px) {
  .item-preview h3 {
    margin: 10px 0 0 10px;
  }
  .item-preview p {
    margin: 0;
    margin: 10px 0 0 10px;
  }
  .item-preview .data {
    margin: 0;
    padding: 0;
  }
  .item-preview .image-preview {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
  }
  .item-preview {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
}
.loading-circle {
  display: grid;
  justify-items: center;
  font-size: 0.7rem;
  align-content: center;
  justify-content: center;
  margin: 100px auto 100px auto;
  height: 100px;
  width: 100px;
  border: 5px solid transparent;
  border: 1px solid blue;
  transition: all 100ms;
  animation: circle-loading 0.5s linear infinite;
  border-radius: 100%;
}
@keyframes circle-loading {
  0% {
    opacity: 0%;
    transform: scale(1.5);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
    transform: scale(1);
  }
}
.filter-btn-arrows {
  background: none;
  right: 10px;
  position: absolute;
  color: black;
  border: none;
  margin: 0;
}
.filter-btn-arrows:hover {
  color: blue;
}
