#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.central-container {
  max-width: 800px;
  margin: auto;
  border-bottom: 1px solid #b4b4b4;
}
.item-preview .image-preview {
  height: 100%;
  width: 100%;
}
.item-preview {
  cursor: pointer;
  min-height: 130px;
  gap: 10px;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: white;
  border: 1px solid #b4b4b4;
  border-bottom: 0px;
  width: 100%;
}
.item-preview:hover {
  background: whitesmoke;
}
.item-preview h3 {
  color: blue;
  margin: 0;
  margin-top: 1px;
  padding: 0;
}
.item-preview p {
  color: gray;
  margin: 0;
  margin-top: 1px;
  padding: 0;
}
