::-webkit-scrollbar {
  width: 6px;
  background: whitesmoke;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #999;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@keyframes fade_in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
